Repository wega-team/ss14-wega, changes with the labels that .github/labeler.yml gives for each.
All labels: :musical_note: Audio :musical_note:, :shark: C# :shark:, :gear: Конфиги :gear:, :book: Документация :book:, :page_facing_up: Локализация :page_facing_up:, :world_map: Карты :world_map:, :art: Спрайты :art:, :computer: UI :computer:, :wrench: GitHub Workflow :wrench:, :crystal_ball: Шейдеры :crystal_ball:

.github/labeler.yml:

":musical_note: Audio :musical_note:":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

":shark: C# :shark:":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

":gear: Конфиги :gear:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.toml"
      - "**/*.config"
      - "*.json"
      - ".github/*.yml"
      - ".github/*.json"
      - ".vscode/*.json"
      - ".editorconfig"

":book: Документация :book:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

":page_facing_up: Локализация :page_facing_up:":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

":world_map: Карты :world_map:":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

":art: Спрайты :art:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

":computer: UI :computer:":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

":baby_chick: YML :baby_chick:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

":wrench: GitHub Workflow :wrench:":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

":crystal_ball: Шейдеры :crystal_ball:":
  - changed-files:
    - any-glob-to-any-file: '**/*.swsl'

":no_entry: Не C# :no_entry:":
  - changed-files:
    - all-globs-to-all-files: "!**/*.cs"

fix
  Resources/Prototypes/_Wega/Surgery/Operations/Transitions/ipcimplants.yml
Labels: none

Return deathstare horn
  Resources/Locale/ru-RU/_wega/markings/phantom.ftl
  Resources/Prototypes/_Wega/Entities/Mobs/Customization/Markings/phantom.yml
  Resources/Textures/_Wega/Mobs/Customization/phantom.rsi/deathstare-horn-secondary.png
  Resources/Textures/_Wega/Mobs/Customization/phantom.rsi/deathstare-horn.png
  Resources/Textures/_Wega/Mobs/Customization/phantom.rsi/meta.json
  Resources/Textures/_Wega/Mobs/Customization/phantom.rsi/wendigo-horn-secondary.png
  Resources/Textures/_Wega/Mobs/Customization/phantom.rsi/wendigo-horn.png
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

Return deathstare eye
  Resources/Locale/ru-RU/_wega/markings/phantom.ftl
  Resources/Prototypes/_Wega/Entities/Mobs/Customization/Markings/phantom.yml
  Resources/Textures/_Wega/Mobs/Customization/phantom.rsi/deathstare-eye.png
  Resources/Textures/_Wega/Mobs/Customization/phantom.rsi/meta.json
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

fixoperated
  Content.Shared/Nutrition/EntitySystems/IngestionSystem.Utensils.cs
Labels: :shark: C# :shark:

diaper
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/clothing/under/bottom.ftl
  Resources/Prototypes/_Wega/Entities/Clothing/Under/bottom.yml
  Resources/Textures/_Wega/Clothing/Under/Bottom/diaper.rsi/equipped-UNDERWEARBOTTOM-reptilian.png
  Resources/Textures/_Wega/Clothing/Under/Bottom/diaper.rsi/equipped-UNDERWEARBOTTOM.png
  Resources/Textures/_Wega/Clothing/Under/Bottom/diaper.rsi/icon.png
  Resources/Textures/_Wega/Clothing/Under/Bottom/diaper.rsi/meta.json
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

Бэкап для отката в случае чего
  Content.Server/_Wega/Implants/BodyPartImplantSystem.cs
  Content.Server/_Wega/Implants/DefibImplantSystem.cs
  Content.Server/_Wega/Implants/HandItemImplantSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Content.Shared.csproj
  Content.Shared/_Wega/Implants/Components/BodyPartImplantComponent.cs
  Content.Shared/_Wega/Implants/Components/DeifbImplantComponent.cs
  Content.Shared/_Wega/Implants/Components/HandItemImplantComponent.cs
  Resources/Locale/ru-RU/_wega/android/android.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/actions/android.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/specific/robotics/android_parts.ftl
  Resources/Prototypes/_Wega/Actions/android.yml
  Resources/Prototypes/_Wega/Body/Parts/android.yml
  Resources/Prototypes/_Wega/Entities/Objects/Specific/Robotics/android_parts.yml
  Resources/Prototypes/_Wega/Recipes/Construction/Graphs/misc/android_bodypart.yml
  Resources/Textures/_Wega/Interface/Actions/actions_android.rsi/defib-off.png
  Resources/Textures/_Wega/Interface/Actions/actions_android.rsi/defib-on.png
  Resources/Textures/_Wega/Interface/Actions/actions_android.rsi/kinetic-off.png
  Resources/Textures/_Wega/Interface/Actions/actions_android.rsi/kinetic-on.png
  Resources/Textures/_Wega/Interface/Actions/actions_android.rsi/meta.json
  Resources/Textures/_Wega/Mobs/Species/Android/parts.rsi/kinetic_arm.png
  Resources/Textures/_Wega/Mobs/Species/Android/parts.rsi/meta.json
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

fix
  Resources/Prototypes/_Wega/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_Wega/Voice/speech_emote_sounds.yml
Labels: none

Nuke-Ops
  Resources/Locale/ru-RU/_wega/store/uplink-catalog.ftl
  Resources/Prototypes/_Wega/Catalog/uplink_catalog.yml
Labels: :page_facing_up: Локализация :page_facing_up:

nanoext
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatCreateGroupPopup.xaml
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatCreateGroupPopup.xaml.cs
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatGroupControl.cs
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatGroupControl.xaml
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatJoinGroupPopup.xaml
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatJoinGroupPopup.xaml.cs
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatUi.cs
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml.cs
  Content.Server/_Wega/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Shared/_Wega/CartridgeLoader/Cartridges/NanoChatCartridgeComponent.cs
  Content.Shared/_Wega/CartridgeLoader/Cartridges/NanoChatUiMessageEvent.cs
  Content.Shared/_Wega/CartridgeLoader/Cartridges/NanoChatUiState.cs
  Resources/Locale/ru-RU/_wega/nanochat/nanochatui.ftl
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:, :computer: UI :computer:

forensicup
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Resources/Locale/ru-RU/_wega/forensics/forensics.ftl
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:

fix
  Resources/Locale/ru-RU/_ADT/prototypes/Enteties/Clothing/Uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/_ADT/prototypes/Enteties/Clothing/Uniforms/jumpsuits.ftl
Labels: :page_facing_up: Локализация :page_facing_up:

Update uplink-catalog.ftl
  Resources/Locale/ru-RU/_wega/store/uplink-catalog.ftl
Labels: :page_facing_up: Локализация :page_facing_up:

Update uplink_catalog.yml
  Resources/Prototypes/_Wega/Catalog/uplink_catalog.yml
Labels: none

Изменение системы
  Content.Server/_Wega/Implants/BodyPartImplantSystem.cs
  Content.Server/_Wega/Implants/HandItemImplantSystem.cs
  Content.Shared/_Wega/Implants/Components/BodyPartImplantComponent.cs
  Content.Shared/_Wega/Implants/Components/ExtendHandItemImplantComponent.cs
  Content.Shared/_Wega/Implants/Components/HandItemImplantComponent.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/specific/robotics/android_parts.ftl
  Resources/Prototypes/_Wega/Entities/Objects/Specific/Robotics/android_parts.yml
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:

Руки добавлены в исследования
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_Wega/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_Wega/Research/biochemical.yml
Labels: none

Update manifest.yml
  Resources/manifest.yml
Labels: none

арбузный ореол
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
Labels: none

oldBru-Lac-Pun-Syg
  Resources/Prototypes/Reagents/medicine.yml
Labels: none

суккуб
  Resources/Locale/ru-RU/_ADT/prototypes/Enteties/Mobs/Customization/Markings/demon.ftl
  Resources/Prototypes/_ADT/Enteties/Mobs/Customization/Markings/tale.yml
  Resources/Textures/_ADT/Mobs/Customization/demons/succubus.rsi/meta.json
  Resources/Textures/_ADT/Mobs/Customization/demons/succubus.rsi/succubus.png
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

Новая антенна
  Resources/Locale/ru-RU/_wega/markings/android.ftl
  Resources/Prototypes/_Wega/Entities/Mobs/Customization/Markings/android.yml
  Resources/Textures/_Wega/Mobs/Customization/android.rsi/head_antenna_crown.png
  Resources/Textures/_Wega/Mobs/Customization/android.rsi/meta.json
  Resources/Textures/_Wega/Mobs/Species/Android/parts.rsi/charger_arm.png
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

Update meta.json
  Resources/Textures/_Wega/Mobs/Species/Android/parts.rsi/meta.json
Labels: :art: Спрайты :art:

flower_fix
  Resources/Prototypes/_Wega/Entities/Objects/Consumable/Food/produce.yml
Labels: none

idi_nax
  Resources/Locale/ru-RU/cargo/bounties.ftl
Labels: :page_facing_up: Локализация :page_facing_up:

idinaxiu_2
  Resources/Locale/ru-RU/_wega/cargo/bounties.ftl
Labels: :page_facing_up: Локализация :page_facing_up:

1212
  Resources/Locale/ru-RU/_wega/cargo/bounties.ftl
Labels: :page_facing_up: Локализация :page_facing_up:

Изменения
  Content.Server/_Wega/Implants/BodyPartImplantSystem.cs
  Content.Server/_Wega/Implants/DefibImplantSystem.cs
Labels: :shark: C# :shark:

udalil_clonerka
  Resources/Prototypes/_Wega/Catalog/Cargo/cargo_medical.yml
Labels: none

genetic rad
  Content.Server/_Wega/Genetics/Systems/DnaModifierSystem.cs
Labels: :shark: C# :shark:

why?
  Content.Server/_Wega/Genetics/Systems/DnaModifierSystem.cs
Labels: :shark: C# :shark:

пора испачкать ваши туфли
  Resources/Prototypes/_Wega/Entities/Clothing/Shoes/heels.yml
  Resources/Textures/_Wega/Mobs/Effects/dirt_overlay.rsi/equipped-heels.png
  Resources/Textures/_Wega/Mobs/Effects/dirt_overlay.rsi/heels.png
  Resources/Textures/_Wega/Mobs/Effects/dirt_overlay.rsi/meta.json
Labels: :art: Спрайты :art:

iral
  Resources/Locale/ru-RU/_wega/metabolism/metabolizer-types.ftl
  Resources/Prototypes/_Wega/Entities/Mobs/Species/ariral.yml
  Resources/Prototypes/_Wega/Reagents/biological.yml
Labels: :page_facing_up: Локализация :page_facing_up:

nasral
  Resources/Locale/ru-RU/_wega/store/uplink-catalog.ftl
Labels: :page_facing_up: Локализация :page_facing_up:

ch
  Resources/Prototypes/_Wega/Damage/modifier_sets.yml
Labels: none

wag
  Resources/Prototypes/_Wega/Entities/Mobs/Species/ariral.yml
Labels: none

adddebuffs
  Resources/Prototypes/_Wega/Damage/modifier_sets.yml
  Resources/Prototypes/_Wega/Entities/Mobs/Species/ariral.yml
Labels: none

andother
  Resources/Locale/ru-RU/_wega/interaction/interaction-popup-component.ftl
  Resources/Prototypes/_Wega/Damage/modifier_sets.yml
  Resources/Prototypes/_Wega/Entities/Mobs/Species/ariral.yml
Labels: :page_facing_up: Локализация :page_facing_up:

loadout-kill sb and med
  Resources/Prototypes/Corvax/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Wega/Loadouts/loadout_groups.yml
Labels: none

all in
  Resources/Locale/ru-RU/_wega/constructionbag.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/_Wega/Entities/Objects/Specific/Specific/construction-bag.yml
  Resources/Textures/_Wega/Objects/Devices/construction_bag.rsi/icon.png
  Resources/Textures/_Wega/Objects/Devices/construction_bag.rsi/meta.json
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

фикс ревью+добавил в инжемат
  Resources/Locale/ru-RU/_wega/constructionbag.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/_Wega/Entities/Objects/Specific/Specific/construction-bag.yml
Labels: :page_facing_up: Локализация :page_facing_up:

pyk2
  Resources/Prototypes/_Wega/Entities/Clothing/Shoes/heels.yml
Labels: none
