Repository wega-team/ss14-wega, changes with the labels that .github/labeler.yml gives for each.
All labels: :musical_note: Audio :musical_note:, :shark: C# :shark:, :gear: Конфиги :gear:, :book: Документация :book:, :page_facing_up: Локализация :page_facing_up:, :world_map: Карты :world_map:, :art: Спрайты :art:, :computer: UI :computer:, :wrench: GitHub Workflow :wrench:, :crystal_ball: Шейдеры :crystal_ball:

Add drumkit instrument + price changes
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/instruments/instruments_structures.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_structures.yml
  Resources/Textures/Objects/Fun/Instruments/drumkit.rsi/drumkit.png
  Resources/Textures/Objects/Fun/Instruments/drumkit.rsi/meta.json
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

Fixed WegaBarratry map
  Resources/Maps/_Wega/wegabarratry.yml
Labels: :world_map: Карты :world_map:

Бабараны фикс наверное
  Resources/Locale/ru-RU/_wega/prototypes/instruments/drumkit.ftl
  Resources/Prototypes/_Wega/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_Wega/Entities/Objects/Fun/Instruments/drumkit.yml
  Resources/Textures/_Wega/Objects/Fun/Instruments/drumkit.rsi/drumkit.png
  Resources/Textures/_Wega/Objects/Fun/Instruments/drumkit.rsi/meta.json
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

Барабаnina
  Resources/Locale/ru-RU/_wega/prototypes/instruments/drumkit.ftl
  Resources/Prototypes/_Wega/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_Wega/Entities/Objects/Fun/Instruments/drumkit.yml
  Resources/Textures/_Wega/Objects/Fun/Instruments/drumkit.rsi/drumkit.png
  Resources/Textures/_Wega/Objects/Fun/Instruments/drumkit.rsi/meta.json
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

fix line endings to LF
  Resources/Locale/ru-RU/_wega/prototypes/instruments/drumkit.ftl
  Resources/Prototypes/_Wega/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_Wega/Entities/Objects/Fun/Instruments/drumkit.yml
  Resources/Textures/_Wega/Objects/Fun/Instruments/drumkit.rsi/meta.json
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

fix
  Resources/Prototypes/_Wega/Entities/Structures/Machines/miningserver.yml
Labels: none

mapsupdate
  Resources/Maps/_Wega/Shuttles/cargo_kilo.yml
  Resources/Prototypes/_Wega/Maps/wegakilostation.yml
Labels: :world_map: Карты :world_map:

Ы
  Resources/Prototypes/_Wega/Maps/wegacyberiad.yml
Labels: none

newchanges
  Content.Client/_Wega/ItemSelector/ItemSelectorBoundUserInterface.cs
  Content.Client/_Wega/ItemSelector/ItemSelectorWindow.xaml
  Content.Client/_Wega/ItemSelector/ItemSelectorWindow.xaml.cs
  Content.Client/_Wega/ItemSelector/ObjectSelectorBoundUserInterface.cs
  Content.Client/_Wega/ItemSelector/ObjectSelectorWindow.xaml
  Content.Client/_Wega/ItemSelector/ObjectSelectorWindow.xaml.cs
  Content.Server/_Wega/ItemSelector/ObjectSelectorSystem.cs
  Content.Shared/_Wega/ItemSelector/ItemSelectorUi.cs
  Content.Shared/_Wega/ItemSelector/ObjectSelectorComponent.cs
  Content.Shared/_Wega/ItemSelector/ObjectSelectorUi.cs
  Resources/Audio/_Wega/Items/purr.ogg
  Resources/Locale/ru-RU/_wega/stack/stacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/fun/plushies.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
  Resources/Prototypes/_Wega/Entities/Objects/Fun/plushies.yml
  Resources/Prototypes/_Wega/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_Wega/Stack/medical_stacks.yml
  Resources/Textures/_Wega/Objects/Fun/Plushies/teg.rsi/icon.png
  Resources/Textures/_Wega/Objects/Fun/Plushies/teg.rsi/meta.json
Labels: :musical_note: Audio :musical_note:, :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:, :computer: UI :computer:

taj&newnight
  Content.Client/_Wega/Shader/NaturalNightVisionOverlay.cs
  Content.Client/_Wega/Shader/NaturalNightVisionSystem.cs
  Content.Shared/_Wega/Shader/NaturalNightVisionComponent.cs
  Content.Shared/_Wega/Shader/SharedNaturalNightVisionSystem.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/actions/nightvision.ftl
  Resources/Prototypes/Corvax/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Prototypes/_Wega/Actions/nightvision.yml
  Resources/Prototypes/_Wega/Genetics/intermediate.yml
  Resources/Textures/_Wega/Shaders/nightvision.swsl
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:, :crystal_ball: Шейдеры :crystal_ball:

fix
  Resources/Prototypes/Maps/debug.yml
  Resources/Prototypes/_Wega/Catalog/Fills/Lockers/command.yml
  Resources/Prototypes/_Wega/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Wega/Clothing/Neck/Cloaks/blueshield.rsi/meta.json
Labels: :world_map: Карты :world_map:, :art: Спрайты :art:

addobject
  Resources/Locale/ru-RU/_wega/objectives/traitor.ftl
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_Wega/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Wega/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Wega/Objectives/objectiveGroups.yml
  Resources/Prototypes/_Wega/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_Wega/Objectives/traitor.yml
  Resources/Prototypes/_Wega/Objectives/vampire.yml
Labels: :page_facing_up: Локализация :page_facing_up:

lastfix
  Resources/Prototypes/_Wega/Entities/Clothing/Head/hardsuit-helmets.yml
Labels: none

Добавлен служебный гранатомёт "Серия номер 3" в личное пользование СБ
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: none

anomaly part 1
  Content.Server/_Wega/Anomaly/Components/CoreTempChangeComponent.cs
  Content.Server/_Wega/Anomaly/Effects/CoreAnomChangeTempSystem.cs
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
Labels: :shark: C# :shark:

Обновление андроидов
  Content.Server/_Wega/Android/AndroidSystem.cs
  Content.Shared/_Wega/Android/AndroidComponent.cs
  Resources/Prototypes/_Wega/Body/Organs/android.yml
  Resources/Prototypes/_Wega/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/_Wega/Entities/Mobs/Customization/Markings/android.yml
  Resources/Prototypes/_Wega/Entities/Mobs/Species/android.yml
  Resources/Prototypes/_Wega/Species/android.yml
  Resources/Textures/_Wega/Mobs/Customization/android.rsi/eyes_visor.png
  Resources/Textures/_Wega/Mobs/Customization/android.rsi/eyes_visor_led.png
  Resources/Textures/_Wega/Mobs/Customization/android.rsi/meta.json
  Resources/Textures/_Wega/Mobs/Species/Android/parts.rsi/module_part.png
Labels: :shark: C# :shark:, :art: Спрайты :art:

Update android.ftl
  Resources/Locale/ru-RU/_wega/markings/android.ftl
Labels: :page_facing_up: Локализация :page_facing_up:

Перенёс по папочкам, поправил эффекты взрыва
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Wega/Entities/Objects/Weapons/Guns/Launchers/launcher.yml
  Resources/Prototypes/_Wega/Entities/Objects/Weapons/Guns/Projectiles/explosive.yml
Labels: none

injfabricator
  Content.Client/_Wega/Medical/InjectorFabticatorVisualsSystem.cs
  Content.Client/_Wega/Medical/Ui/InjectorFabticatorBoundUserInterface.cs
  Content.Client/_Wega/Medical/Ui/InjectorFabticatorWindow.xaml
  Content.Client/_Wega/Medical/Ui/InjectorFabticatorWindow.xaml.cs
  Content.Server/_Wega/Medical/InjectorFabticatorSystem.cs
  Content.Shared/_Wega/Medical/InjectorFabricatorComponent.cs
  Content.Shared/_Wega/Medical/InjectorFabricatorVisuals.cs
  Content.Shared/_Wega/Medical/Ui/InjectorFabricator.cs
  Resources/Locale/ru-RU/_wega/injectorfabricator/injectorfabricator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/specific/medical/hyno.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/structures/machines/injector_fabricator.ftl
  Resources/Maps/_Wega/Nonstations/nukieplanet.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Wega/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_Wega/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_Wega/Entities/Structures/Machines/injector_fabricator.yml
  Resources/Prototypes/_Wega/Entities/Structures/Machines/miningserver.yml
  Resources/Textures/_Wega/Structures/Machines/injector_fabricator.rsi/base.png
  Resources/Textures/_Wega/Structures/Machines/injector_fabricator.rsi/icon.png
  Resources/Textures/_Wega/Structures/Machines/injector_fabricator.rsi/meta.json
  Resources/Textures/_Wega/Structures/Machines/injector_fabricator.rsi/running.png
  Resources/Textures/_Wega/Structures/Machines/injector_fabricator.rsi/unlit.png
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:, :world_map: Карты :world_map:, :art: Спрайты :art:, :computer: UI :computer:

kek
  Resources/Prototypes/_Wega/Entities/Structures/Machines/injector_fabricator.yml
  Resources/Prototypes/_Wega/Entities/Structures/Machines/miningserver.yml
Labels: none

glek
  Content.Client/_Wega/Medical/InjectorFabticatorVisualsSystem.cs
Labels: :shark: C# :shark:

Anomaly_part2
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
  Resources/Prototypes/_Wega/ore.yml
Labels: none

Phantom alpha version
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/_Wega/Genetics/Systems/DnaModifierSystem.cs
  Content.Server/_Wega/Shadow/PhotophobiaSystem.cs
  Content.Server/_Wega/Shadow/ShadowMutationSystem.cs
  Content.Shared/Flash/Components/DamagedByFlashingComponent.cs
  Content.Shared/Flash/DamagedByFlashingSystem.cs
  Content.Shared/Flash/FlashEvents.cs
  Content.Shared/Flash/SharedFlashSystem.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/SkinColor.cs
  Content.Shared/_Wega/Shadow/PhotophobiaComponent.cs
  Content.Shared/_Wega/Shadow/ShadowMutateComponent.cs
  Content.Shared/_Wega/Shadow/ShadowWeaknessComponent.cs
  Content.Shared/_Wega/Shadow/ShadowWeaknessSystem.cs
  Resources/Prototypes/_Wega/Body/Organs/phantom.yml
  Resources/Prototypes/_Wega/Body/Parts/phantom.yml
  Resources/Prototypes/_Wega/Body/Prototypes/phantom.yml
  Resources/Prototypes/_Wega/Entities/Mobs/Player/phantom.yml
  Resources/Prototypes/_Wega/Entities/Mobs/Species/phantom.yml
  Resources/Prototypes/_Wega/Species/phantom.yml
  Resources/Textures/_Wega/Mobs/Species/Phantom/displacement.rsi/jumpsuit-female.png
  Resources/Textures/_Wega/Mobs/Species/Phantom/displacement.rsi/meta.json
  Resources/Textures/_Wega/Mobs/Species/Phantom/parts.rsi/full_f.png
  Resources/Textures/_Wega/Mobs/Species/Phantom/parts.rsi/full_m.png
  Resources/Textures/_Wega/Mobs/Species/Phantom/parts.rsi/full_t.png
  Resources/Textures/_Wega/Mobs/Species/Phantom/parts.rsi/head_f.png
  Resources/Textures/_Wega/Mobs/Species/Phantom/parts.rsi/head_m.png
  Resources/Textures/_Wega/Mobs/Species/Phantom/parts.rsi/head_t.png
  Resources/Textures/_Wega/Mobs/Species/Phantom/parts.rsi/l_arm.png
  Resources/Textures/_Wega/Mobs/Species/Phantom/parts.rsi/l_foot.png
  Resources/Textures/_Wega/Mobs/Species/Phantom/parts.rsi/l_hand.png
  Resources/Textures/_Wega/Mobs/Species/Phantom/parts.rsi/l_leg.png
  Resources/Textures/_Wega/Mobs/Species/Phantom/parts.rsi/meta.json
  Resources/Textures/_Wega/Mobs/Species/Phantom/parts.rsi/r_arm.png
  Resources/Textures/_Wega/Mobs/Species/Phantom/parts.rsi/r_foot.png
  Resources/Textures/_Wega/Mobs/Species/Phantom/parts.rsi/r_hand.png
  Resources/Textures/_Wega/Mobs/Species/Phantom/parts.rsi/r_leg.png
  Resources/Textures/_Wega/Mobs/Species/Phantom/parts.rsi/torso_f.png
  Resources/Textures/_Wega/Mobs/Species/Phantom/parts.rsi/torso_m.png
  Resources/Textures/_Wega/Mobs/Species/Phantom/parts.rsi/torso_t.png
Labels: :shark: C# :shark:, :art: Спрайты :art:, :computer: UI :computer:

fix_call
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
Labels: none

Fix Linter
  Content.Shared/Flash/Components/DamagedByFlashingComponent.cs
  Content.Shared/Humanoid/SkinColor.cs
  Resources/Prototypes/_Wega/Entities/Mobs/Species/phantom.yml
Labels: :shark: C# :shark:

khe
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: :shark: C# :shark:, :computer: UI :computer:

плащи
  Resources/Locale/ru-RU/_ADT/prototypes/Enteties/Clothing/Neck/cloaks.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/_ADT/Enteties/Clothing/Neck/cloaks.yml
  Resources/Textures/_ADT/Clothing/Neck/Cloaks/darkgrey_cloak.rsi/equipped-NECK.png
  Resources/Textures/_ADT/Clothing/Neck/Cloaks/darkgrey_cloak.rsi/icon.png
  Resources/Textures/_ADT/Clothing/Neck/Cloaks/darkgrey_cloak.rsi/inhand-left.png
  Resources/Textures/_ADT/Clothing/Neck/Cloaks/darkgrey_cloak.rsi/inhand-right.png
  Resources/Textures/_ADT/Clothing/Neck/Cloaks/darkgrey_cloak.rsi/meta.json
  Resources/Textures/_ADT/Clothing/Neck/Cloaks/gothic_cloak.rsi/equipped-NECK.png
  Resources/Textures/_ADT/Clothing/Neck/Cloaks/gothic_cloak.rsi/icon.png
  Resources/Textures/_ADT/Clothing/Neck/Cloaks/gothic_cloak.rsi/inhand-left.png
  Resources/Textures/_ADT/Clothing/Neck/Cloaks/gothic_cloak.rsi/inhand-right.png
  Resources/Textures/_ADT/Clothing/Neck/Cloaks/gothic_cloak.rsi/meta.json
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

комментарии
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
Labels: none

noemptysuffixs
  Resources/Locale/ru-RU/_ADT/prototypes/Enteties/Clothing/Neck/cloaks.ftl
Labels: :page_facing_up: Локализация :page_facing_up:

BodyPartImplantSystem и два импланта руки
  Content.Server/_Wega/Implants/BodyPartImplantSystem.cs
  Content.Server/_Wega/Implants/DefibImplantSystem.cs
  Content.Shared/Content.Shared.csproj
  Content.Shared/_Wega/Implants/Components/BodyPartImplantComponent.cs
  Content.Shared/_Wega/Implants/Components/DeifbImplantComponent.cs
  Resources/Locale/ru-RU/_wega/android/android.ftl
  Resources/Prototypes/_Wega/Entities/Objects/Specific/Robotics/android_parts.yml
  Resources/Prototypes/_Wega/Loadouts/Miscellaneous/emergency.yml
  Resources/Prototypes/_Wega/Recipes/Construction/Graphs/misc/android_bodypart.yml
  Resources/Textures/_Wega/Mobs/Species/Android/parts.rsi/defib_arm.png
  Resources/Textures/_Wega/Mobs/Species/Android/parts.rsi/meta.json
  Resources/Textures/_Wega/Mobs/Species/Android/parts.rsi/pry_arm.png
  Resources/manifest.yml
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

Fixes
  Content.Shared/Flash/DamagedByFlashingSystem.cs
  Content.Shared/Flash/FlashEvents.cs
  Content.Shared/Flash/SharedFlashSystem.cs
  Resources/Locale/ru-RU/_wega/markings/phantom.ftl
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/_Wega/Entities/Mobs/Species/phantom.yml
  Resources/Prototypes/_Wega/interactions.yml
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:

More Decale
  Resources/Prototypes/_Wega/Decals/minitile.yml
  Resources/Textures/_Wega/Decals/minitile.rsi/dark_corner-ne.png
  Resources/Textures/_Wega/Decals/minitile.rsi/dark_corner-nw.png
  Resources/Textures/_Wega/Decals/minitile.rsi/dark_corner-se.png
  Resources/Textures/_Wega/Decals/minitile.rsi/dark_corner-sw.png
  Resources/Textures/_Wega/Decals/minitile.rsi/dark_line_e.png
  Resources/Textures/_Wega/Decals/minitile.rsi/dark_line_n.png
  Resources/Textures/_Wega/Decals/minitile.rsi/dark_line_s.png
  Resources/Textures/_Wega/Decals/minitile.rsi/dark_line_w.png
  Resources/Textures/_Wega/Decals/minitile.rsi/grey_corner-ne.png
  Resources/Textures/_Wega/Decals/minitile.rsi/grey_corner-nw.png
  Resources/Textures/_Wega/Decals/minitile.rsi/grey_corner-se.png
  Resources/Textures/_Wega/Decals/minitile.rsi/grey_corner-sw.png
  Resources/Textures/_Wega/Decals/minitile.rsi/grey_line_e.png
  Resources/Textures/_Wega/Decals/minitile.rsi/grey_line_n.png
  Resources/Textures/_Wega/Decals/minitile.rsi/grey_line_s.png
  Resources/Textures/_Wega/Decals/minitile.rsi/grey_line_w.png
  Resources/Textures/_Wega/Decals/minitile.rsi/meta.json
  Resources/Textures/_Wega/Decals/minitile.rsi/white_corner-ne.png
  Resources/Textures/_Wega/Decals/minitile.rsi/white_corner-nw.png
  Resources/Textures/_Wega/Decals/minitile.rsi/white_corner-se.png
  Resources/Textures/_Wega/Decals/minitile.rsi/white_corner-sw.png
  Resources/Textures/_Wega/Decals/minitile.rsi/white_line_e.png
  Resources/Textures/_Wega/Decals/minitile.rsi/white_line_n.png
  Resources/Textures/_Wega/Decals/minitile.rsi/white_line_s.png
  Resources/Textures/_Wega/Decals/minitile.rsi/white_line_w.png
Labels: :art: Спрайты :art:

khem
  Resources/Prototypes/_Wega/Decals/minitile.yml
Labels: none

Remove Palehand
  Resources/Prototypes/_Wega/Entities/Mobs/Customization/Markings/phantom.yml
Labels: none

Fix linter
  Resources/Prototypes/_Wega/Entities/Mobs/Species/phantom.yml
Labels: none

Fix rsi validator
  Resources/Textures/_Wega/Mobs/Species/Phantom/organ.rsi/meta.json
Labels: :art: Спрайты :art:

Fix rsi validator try 2
  Resources/Textures/_Wega/Mobs/Species/Phantom/organ.rsi/meta.json
Labels: :art: Спрайты :art:

chat
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatAddContactPopup.xaml
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatAddContactPopup.xaml.cs
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatContactControl.xaml
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatContactControl.xaml.cs
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatEmojiPopup.xaml
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatEmojiPopup.xaml.cs
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatMessageControl.xaml
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatMessageControl.xaml.cs
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatUi.cs
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml.cs
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Server/_Wega/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Shared/_Wega/CartridgeLoader/Cartridges/NanoChatCartridgeComponent.cs
  Content.Shared/_Wega/CartridgeLoader/Cartridges/NanoChatUiMessageEvent.cs
  Content.Shared/_Wega/CartridgeLoader/Cartridges/NanoChatUiState.cs
  Content.Shared/_Wega/CartridgeLoader/Cartridges/SharedNanoChatCartridgeSystem.cs
  Resources/Locale/ru-RU/_wega/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/_wega/forensics/forensics.ftl
  Resources/Locale/ru-RU/_wega/nanochat/nanochatui.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Wega/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/_Wega/Entities/Objects/Devices/pda.yml
  Resources/Textures/_Wega/Interface/Misc/program_icons.rsi/meta.json
  Resources/Textures/_Wega/Interface/Misc/program_icons.rsi/nano_chat.png
  Resources/Textures/_Wega/Interface/sound.svg.192dpi.png
  Resources/Textures/_Wega/Interface/sound.svg.192dpi.png copy.yml
  Resources/Textures/_Wega/Interface/sound.svg.192dpi.svg
  Resources/Textures/_Wega/Interface/soundoff.svg.192dpi.png
  Resources/Textures/_Wega/Interface/soundoff.svg.192dpi.png.yml
  Resources/Textures/_Wega/Interface/soundoff.svg.192dpi.svg
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:, :computer: UI :computer:

fix
  Content.Server/_Wega/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/devices/cartridges.ftl
  Resources/Prototypes/_Wega/Entities/Objects/Devices/cartridges.yml
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:

extsyntheticsurgery
  Resources/Prototypes/Corvax/Body/Organs/ipc.yml
  Resources/Prototypes/Corvax/Body/Parts/ipc.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_Wega/Entities/Mobs/Species/android.yml
  Resources/Prototypes/_Wega/Pain/profiles.yml
  Resources/Prototypes/_Wega/Surgery/Operations/Graphs/ipc.yml
  Resources/Prototypes/_Wega/Surgery/Operations/InternalDamage.yml
  Resources/Prototypes/_Wega/Surgery/Operations/Nodes/ipc.yml
  Resources/Prototypes/_Wega/Surgery/Operations/Package/implants.yml
  Resources/Prototypes/_Wega/Surgery/Operations/Transitions/ipc.yml
  Resources/Prototypes/_Wega/tags.yml
Labels: none

.github/labeler.yml:

":musical_note: Audio :musical_note:":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

":shark: C# :shark:":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

":gear: Конфиги :gear:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.toml"
      - "**/*.config"
      - "*.json"
      - ".github/*.yml"
      - ".github/*.json"
      - ".vscode/*.json"
      - ".editorconfig"

":book: Документация :book:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

":page_facing_up: Локализация :page_facing_up:":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

":world_map: Карты :world_map:":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

":art: Спрайты :art:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

":computer: UI :computer:":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

":baby_chick: YML :baby_chick:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

":wrench: GitHub Workflow :wrench:":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

":crystal_ball: Шейдеры :crystal_ball:":
  - changed-files:
    - any-glob-to-any-file: '**/*.swsl'

":no_entry: Не C# :no_entry:":
  - changed-files:
    - all-globs-to-all-files: "!**/*.cs"
