Repository wega-team/ss14-wega, changes with the labels that .github/labeler.yml gives for each.
All labels: :musical_note: Audio :musical_note:, :shark: C# :shark:, :gear: Конфиги :gear:, :book: Документация :book:, :page_facing_up: Локализация :page_facing_up:, :world_map: Карты :world_map:, :art: Спрайты :art:, :computer: UI :computer:, :wrench: GitHub Workflow :wrench:, :crystal_ball: Шейдеры :crystal_ball:

Create ммм
  ммм
Labels: none

bodycam
  Resources/Locale/ru-RU/_wega/devices/device-network.ftl
  Resources/Locale/ru-RU/_wega/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/catalog/fills/boxes/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/catalog/fills/boxes/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/clothing/eyes/hud.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/devices/wiretapping.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_Wega/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/_Wega/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/_Wega/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Wega/Device/devicenet_frequencies.yml
  Resources/Prototypes/_Wega/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_Wega/Entities/Objects/Devices/Syndicate_Gadgets/wiretapping.yml
  Resources/Prototypes/_Wega/Entities/Objects/Devices/wiretapping.yml
  Resources/Prototypes/_Wega/Recipes/Construction/Graphs/misc/bodycam.yml
  Resources/Textures/_Wega/Clothing/Eyes/syndcamerahud.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_Wega/Clothing/Eyes/syndcamerahud.rsi/equipped-EYES-dog.png
  Resources/Textures/_Wega/Clothing/Eyes/syndcamerahud.rsi/equipped-EYES.png
  Resources/Textures/_Wega/Clothing/Eyes/syndcamerahud.rsi/icon.png
  Resources/Textures/_Wega/Clothing/Eyes/syndcamerahud.rsi/inhand-left.png
  Resources/Textures/_Wega/Clothing/Eyes/syndcamerahud.rsi/inhand-right.png
  Resources/Textures/_Wega/Clothing/Eyes/syndcamerahud.rsi/meta.json
  Resources/Textures/_Wega/Objects/Devices/wiretapping.rsi/meta.json
  Resources/Textures/_Wega/Objects/Devices/wiretapping.rsi/wiretapping_camera-a.png
  Resources/Textures/_Wega/Objects/Devices/wiretapping.rsi/wiretapping_camera-b.png
  Resources/Textures/_Wega/Objects/Devices/wiretapping.rsi/wiretapping_camera-c.png
  Resources/Textures/_Wega/Objects/Devices/wiretapping.rsi/wiretapping_camera-d.png
  Resources/Textures/_Wega/Objects/Devices/wiretapping.rsi/wiretapping_camera.png
  Resources/Textures/_Wega/Objects/Devices/wiretapping.rsi/wiretapping_server-a.png
  Resources/Textures/_Wega/Objects/Devices/wiretapping.rsi/wiretapping_server-b.png
  Resources/Textures/_Wega/Objects/Devices/wiretapping.rsi/wiretapping_server-c.png
  Resources/Textures/_Wega/Objects/Devices/wiretapping.rsi/wiretapping_server-d.png
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

fix_patch
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
Labels: none

fix
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: none

Update borg_modules.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: none

fix_5432
  Resources/Prototypes/_Wega/Catalog/thief_toolbox_sets.yml
Labels: none

312
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: none

fix3123
  Resources/Prototypes/Entities/Objects/Tools/thief.yml
Labels: none

Update robotics.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robotics.yml
Labels: none

Update borg_types.yml
  Resources/Prototypes/borg_types.yml
Labels: none

Update medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
Labels: none

borg_fire
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: none

respritee
  Resources/Textures/_Wega/Objects/Weapons/Melee/hfrequency_sword.rsi/equipped-BACKPACK.png
  Resources/Textures/_Wega/Objects/Weapons/Melee/hfrequency_sword.rsi/equipped-SUITSTORAGE.png
Labels: :art: Спрайты :art:

toy-2
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Wega/Loadouts/Miscellaneous/trinkets.yml
Labels: none

hallowen
  Content.Shared/_Wega/Voucher/VoucherSystem.cs
  Resources/Locale/ru-RU/_wega/store/Voucher/hallowen.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/specific/item_hellowen.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/specific/vouchercard.ftl
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Wega/Catalog/VoucherCard/hallowen.yml
  Resources/Prototypes/_Wega/Catalog/VoucherCard/item_hallown.yml
  Resources/Prototypes/_Wega/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Wega/Entities/Objects/Specific/VoucherCard/VoucherCard.yml
  Resources/Prototypes/_Wega/Loadouts/Miscellaneous/trinkets.yml
  Resources/Textures/_Wega/Clothing/Neck/Cloaks/vampires_cloak.rsi/bat.png
  Resources/Textures/_Wega/Clothing/Neck/Cloaks/vampires_cloak.rsi/equipped-NECK.png
  Resources/Textures/_Wega/Clothing/Neck/Cloaks/vampires_cloak.rsi/icon.png
  Resources/Textures/_Wega/Clothing/Neck/Cloaks/vampires_cloak.rsi/meta.json
  Resources/Textures/_Wega/Objects/Specific/VoucherCard/vouchercard.rsi/hallowen.png
  Resources/Textures/_Wega/Objects/Specific/VoucherCard/vouchercard.rsi/meta.json
  Resources/Textures/_Wega/Objects/Specific/VoucherCard/vouchercard.rsi/salvage.png
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

Update hallowen.ftl
  Resources/Locale/ru-RU/_wega/store/Voucher/hallowen.ftl
Labels: :page_facing_up: Локализация :page_facing_up:

Merge pull request #234 from GaMEWAR360/hallowen2
  Content.Shared/_Wega/Voucher/VoucherSystem.cs
  Resources/Locale/ru-RU/_wega/store/Voucher/hallowen.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/specific/item_hellowen.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/specific/vouchercard.ftl
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Wega/Catalog/VoucherCard/hallowen.yml
  Resources/Prototypes/_Wega/Catalog/VoucherCard/item_hallown.yml
  Resources/Prototypes/_Wega/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Wega/Entities/Objects/Specific/VoucherCard/VoucherCard.yml
  Resources/Prototypes/_Wega/Loadouts/Miscellaneous/trinkets.yml
  Resources/Textures/_Wega/Clothing/Neck/Cloaks/vampires_cloak.rsi/bat.png
  Resources/Textures/_Wega/Clothing/Neck/Cloaks/vampires_cloak.rsi/equipped-NECK.png
  Resources/Textures/_Wega/Clothing/Neck/Cloaks/vampires_cloak.rsi/icon.png
  Resources/Textures/_Wega/Clothing/Neck/Cloaks/vampires_cloak.rsi/meta.json
  Resources/Textures/_Wega/Objects/Specific/VoucherCard/vouchercard.rsi/hallowen.png
  Resources/Textures/_Wega/Objects/Specific/VoucherCard/vouchercard.rsi/meta.json
  Resources/Textures/_Wega/Objects/Specific/VoucherCard/vouchercard.rsi/salvage.png
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

zombie
  Resources/Prototypes/_Wega/Entities/Mobs/Species/zomnie.yml
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/full.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/head_f.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/head_m.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/l_arm.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/l_foot.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/l_hand.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/l_leg.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/meta.json
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/r_arm.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/r_foot.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/r_hand.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/r_leg.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/torso_f.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/torso_m.png
Labels: :art: Спрайты :art:

zommbie
  Resources/Prototypes/_Wega/Entities/Mobs/Species/zomnie.yml
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/full.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/head_f.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/head_m.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/l_arm.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/l_foot.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/l_hand.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/l_leg.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/meta.json
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/r_arm.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/r_foot.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/r_hand.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/r_leg.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/torso_f.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/torso_m.png
Labels: :art: Спрайты :art:

zombie_rase
  Resources/Prototypes/_Wega/Entities/Mobs/Species/zomnie.yml
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/full.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/head_f.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/head_m.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/l_arm.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/l_foot.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/l_hand.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/l_leg.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/meta.json
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/r_arm.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/r_foot.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/r_hand.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/r_leg.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/torso_f.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/torso_m.png
Labels: :art: Спрайты :art:

Хеллоуин продолжение (#235)
  Resources/Prototypes/_Wega/Entities/Mobs/Species/zomnie.yml
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/full.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/head_f.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/head_m.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/l_arm.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/l_foot.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/l_hand.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/l_leg.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/meta.json
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/r_arm.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/r_foot.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/r_hand.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/r_leg.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/torso_f.png
  Resources/Textures/_Wega/Mobs/Species/Zombie/parts.rsi/torso_m.png
Labels: :art: Спрайты :art:

Ops....
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/black_revealing_dress.rsi/equipped-INNERCLOTHING-digi.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/black_revealing_dress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/black_revealing_dress.rsi/icon.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/black_revealing_dress.rsi/inhand-left.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/black_revealing_dress.rsi/inhand-right.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/black_revealing_dress.rsi/meta.json
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/magic_dress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/magic_dress.rsi/icon.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/magic_dress.rsi/meta.json
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/neckline_sweater.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/neckline_sweater.rsi/icon.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/neckline_sweater.rsi/inhand-left.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/neckline_sweater.rsi/inhand-right.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/neckline_sweater.rsi/meta.json
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/red_revealing_dress.rsi/equipped-INNERCLOTHING-digi.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/red_revealing_dress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/red_revealing_dress.rsi/icon.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/red_revealing_dress.rsi/inhand-left.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/red_revealing_dress.rsi/inhand-right.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/red_revealing_dress.rsi/meta.json
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/sexy_sweater.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/sexy_sweater.rsi/icon.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/sexy_sweater.rsi/inhand-left.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/sexy_sweater.rsi/inhand-right.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpskirt/sexy_sweater.rsi/meta.json
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpsuit/beautiful_sweater.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpsuit/beautiful_sweater.rsi/icon.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpsuit/beautiful_sweater.rsi/inhand-left.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpsuit/beautiful_sweater.rsi/inhand-right.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpsuit/beautiful_sweater.rsi/meta.json
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpsuit/stylish_shirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpsuit/stylish_shirt.rsi/icon.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpsuit/stylish_shirt.rsi/inhand-left.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpsuit/stylish_shirt.rsi/inhand-right.png
  Resources/Textures/_Wega/Sponsors/Clothing/Jumpsuit/stylish_shirt.rsi/meta.json
Labels: :art: Спрайты :art:

5
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: none

Update sponsorsobjects.yml
  Resources/Prototypes/_Wega/Sponsors/sponsorsobjects.yml
Labels: none

Update sponsorslodauts.yml
  Resources/Prototypes/_Wega/Sponsors/sponsorslodauts.yml
Labels: none

Create sponsorsobjectssponsorsobjects.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/sponsors/sponsorsobjectssponsorsobjects.ftl
Labels: :page_facing_up: Локализация :page_facing_up:

hameleon_fix
  Resources/Prototypes/_Wega/Sponsors/sponsorsobjects.yml
Labels: none

Locale
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/sponsors/sponsorsobjectssponsorsobjects.ftl
  Resources/Prototypes/_Wega/Sponsors/sponsorsobjects.yml
  Resources/Textures/_Wega/Sponsors/Clothing/Mask/sex_clown.rsi/equipped-MASK.png
  Resources/Textures/_Wega/Sponsors/Clothing/Uniforms/Jumpsuit/beautiful_sweater.rsi/meta.json
  Resources/Textures/_Wega/Sponsors/Clothing/Uniforms/Jumpsuit/stylish_shirt.rsi/meta.json
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

monkey
  Resources/Prototypes/_Wega/Sponsors/sponsorsrolelodaut.yml
  Resources/Textures/_Wega/Sponsors/Clothing/Uniforms/Jumpskirt/black_revealing_dress.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Wega/Sponsors/Clothing/Uniforms/Jumpskirt/black_revealing_dress.rsi/meta.json
  Resources/Textures/_Wega/Sponsors/Clothing/Uniforms/Jumpskirt/red_revealing_dress.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Wega/Sponsors/Clothing/Uniforms/Jumpskirt/red_revealing_dress.rsi/meta.json
Labels: :art: Спрайты :art:

Lodauts
  Resources/Locale/ru-RU/_wega/preferences/ui/loadout-groups.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/sponsors/sponsorsobjectssponsorsobjects.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/_Wega/Loadouts/Jobs/Civilian/clown.yml
  Resources/Prototypes/_Wega/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Wega/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Wega/Sponsors/sponsorslodaut_groups.yml
  Resources/Prototypes/_Wega/Sponsors/sponsorslodauts.yml
  Resources/Prototypes/_Wega/Sponsors/sponsorsobjects.yml
  Resources/Prototypes/_Wega/Sponsors/sponsorsrolelodaut.yml
  Resources/Textures/_Wega/Clothing/Mask/sex_clown.rsi/equipped-MASK.png
  Resources/Textures/_Wega/Sponsors/Clothing/Uniforms/Jumpskirt/elegant_chaplain.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Wega/Sponsors/Clothing/Uniforms/Jumpskirt/elegant_chaplain.rsi/icon.png
  Resources/Textures/_Wega/Sponsors/Clothing/Uniforms/Jumpskirt/elegant_chaplain.rsi/meta.json
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

ebalvrot
  Resources/Prototypes/_ADT/Enteties/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Wega/Entities/Clothing/Belt/syndie_sheath.yml
Labels: none

fixlinter
  Resources/Audio/_Wega/Weapons/Guns/Gunshots/deserteagle.ogg
  Resources/Prototypes/_Wega/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Wega/Entities/Mobs/Customization/Markings/cyberlimbs.yml
  Resources/Prototypes/_Wega/Entities/Mobs/Customization/Markings/demon.yml
Labels: :musical_note: Audio :musical_note:

fixlinter2
  Resources/Prototypes/_Wega/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Wega/Entities/Objects/Devices/holoprojectors.yml
Labels: none

final
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml
  Content.Client/_Wega/Vampire/VampireSystem.cs
  Content.Shared/_Wega/BloodCult/BloodCultComponents.cs
  Content.Shared/_Wega/Genetics/Systems/Disease/DizzyGenSystem.cs
  Resources/Prototypes/_Wega/Entities/Clothing/Uniforms/jumpsuit_special.yml
  Resources/Prototypes/_Wega/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Wega/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/_Wega/Entities/StatusEffects/body.yml
  Resources/Prototypes/_Wega/Entities/Structures/Specific/bloodcult.yml
Labels: :shark: C# :shark:, :computer: UI :computer:

Edit
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
Labels: none

.github/labeler.yml:

":musical_note: Audio :musical_note:":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

":shark: C# :shark:":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

":gear: Конфиги :gear:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.toml"
      - "**/*.config"
      - "*.json"
      - ".github/*.yml"
      - ".github/*.json"
      - ".vscode/*.json"
      - ".editorconfig"

":book: Документация :book:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

":page_facing_up: Локализация :page_facing_up:":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

":world_map: Карты :world_map:":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

":art: Спрайты :art:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

":computer: UI :computer:":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

":baby_chick: YML :baby_chick:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

":wrench: GitHub Workflow :wrench:":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

":crystal_ball: Шейдеры :crystal_ball:":
  - changed-files:
    - any-glob-to-any-file: '**/*.swsl'

":no_entry: Не C# :no_entry:":
  - changed-files:
    - all-globs-to-all-files: "!**/*.cs"
