Repository wega-team/ss14-wega, changes with the labels that .github/labeler.yml gives for each.
All labels: :musical_note: Audio :musical_note:, :shark: C# :shark:, :gear: Конфиги :gear:, :book: Документация :book:, :page_facing_up: Локализация :page_facing_up:, :world_map: Карты :world_map:, :art: Спрайты :art:, :computer: UI :computer:, :wrench: GitHub Workflow :wrench:, :crystal_ball: Шейдеры :crystal_ball:

fix
  Resources/Prototypes/_Wega/Catalog/uplink_catalog.yml
Labels: none

fix_rebalance
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/catalog/fills/crates/science.ftl
  Resources/Prototypes/Corvax/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/_Wega/Catalog/Fills/Crates/science.yml
  Resources/Prototypes/_Wega/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_Wega/Entities/Structures/Machines/goldprint.yml
  Resources/Prototypes/_Wega/Recipes/Lathes/security.yml
Labels: :page_facing_up: Локализация :page_facing_up:

kchau
  Resources/Audio/_DeadSpace/Weapons/Guns/Gunshots/deserteagle.ogg
  Resources/Locale/ru-RU/_ADT/prototypes/Enteties/Structures/Holographic/projections.ftl
  Resources/Locale/ru-RU/_DeadSpace/prototypes/Enteties/Objects/Weapons/Guns/Ammunition/Magazines/magazines.ftl
  Resources/Locale/ru-RU/_DeadSpace/prototypes/Enteties/Objects/Weapons/Guns/Pistols/pistols.ftl
  Resources/Locale/ru-RU/_wega/store/uplink-catalog.ftl
  Resources/Prototypes/_ADT/Enteties/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/_ADT/Enteties/Objects/Weapons/Guns/Ammunition/Magazines/sniper.yml
  Resources/Prototypes/_ADT/Enteties/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_DeadSpace/Enteties/Objects/Weapons/Guns/Ammunition/Magazines/desert_eagle_mags.yml
  Resources/Prototypes/_DeadSpace/Enteties/Objects/Weapons/Guns/Pistols/desert_eagle.yml
  Resources/Prototypes/_DeadSpace/tags.yml
  Resources/Prototypes/_Wega/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Wega/Entities/Objects/Weapons/Melee/sabre.yml
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/magazinedeserteagle.rsi/base.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/magazinedeserteagle.rsi/mag-1.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/magazinedeserteagle.rsi/meta.json
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/magazinedeserteagle.rsi/red.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Pistols/deserteagle.rsi/base.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Pistols/deserteagle.rsi/bolt-open.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Pistols/deserteagle.rsi/equipped-BELT.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Pistols/deserteagle.rsi/icon.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Pistols/deserteagle.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Pistols/deserteagle.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Pistols/deserteagle.rsi/mag-0.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Pistols/deserteagle.rsi/meta.json
Labels: :musical_note: Audio :musical_note:, :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

fixik
  Resources/Prototypes/_ADT/Enteties/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Textures/_ADT/Objects/Weapons/Guns/Rifles/xc67.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_ADT/Objects/Weapons/Guns/Rifles/xc67.rsi/meta.json
  Resources/Textures/_ADT/Objects/Weapons/Guns/Snipers/new_hristov.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_ADT/Objects/Weapons/Guns/Snipers/new_hristov.rsi/meta.json
Labels: :art: Спрайты :art:

resprite
  Resources/Textures/_Wega/Objects/Weapons/Melee/hfrequency_sword.rsi/equipped-BACKPACK.png
  Resources/Textures/_Wega/Objects/Weapons/Melee/hfrequency_sword.rsi/equipped-SUITSTORAGE.png
Labels: :art: Спрайты :art:

Update equipped-SUITSTORAGE.png
  Resources/Textures/_Wega/Objects/Weapons/Melee/hfrequency_sword.rsi/equipped-SUITSTORAGE.png
Labels: :art: Спрайты :art:

fdfdfddf
  Resources/Textures/_Wega/Objects/Weapons/Melee/hfrequency_sword.rsi/equipped-BACKPACK.png
Labels: :art: Спрайты :art:

я сделал ревью
  Resources/Locale/ru-RU/_wega/job/job-names.ftl
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_Wega/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_Wega/Loadouts/Jobs/Specific/prisoner.yml
  Resources/Prototypes/_Wega/Roles/Jobs/Specific/prisoner.yml
Labels: :page_facing_up: Локализация :page_facing_up:

pen_pay
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: none

tagpen
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: none

cost_gun
  Resources/Prototypes/_Wega/Catalog/uplink_catalog.yml
Labels: none

sosalhuy
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Pistols/deserteagle.rsi/meta.json
Labels: :art: Спрайты :art:

поправил ревью и тайм трекер
  Resources/Prototypes/Roles/play_time_trackers.yml
  Resources/Prototypes/_Wega/Loadouts/Jobs/Security/prisoner.yml
  Resources/Prototypes/_Wega/Loadouts/Jobs/Specific/prisoner.yml
  Resources/Prototypes/_Wega/Roles/Jobs/Specific/prisoner.yml
  Resources/Prototypes/_Wega/Roles/play_time_trackers.yml
Labels: none

фикс YAML
  Resources/Prototypes/_Wega/Roles/Jobs/Specific/prisoner.yml
Labels: none

фикc YAML2
  Resources/Prototypes/_Wega/Roles/Jobs/Specific/prisoner.yml
Labels: none

мб
  Content.Shared/Roles/JobPrototype.cs
Labels: :shark: C# :shark:

емае
  Content.Shared/Roles/JobPrototype.cs
Labels: :shark: C# :shark:

ебал я сишарп
  Content.Shared/Roles/JobPrototype.cs
Labels: :shark: C# :shark:

хз
  Content.Shared/Roles/JobPrototype.cs
Labels: :shark: C# :shark:

Update JobPrototype.cs
  Content.Shared/Roles/JobPrototype.cs
Labels: :shark: C# :shark:

Fix printer curTime
  Content.Server/Corvax/Documents/DocumentPrinterSystem.cs
Labels: :shark: C# :shark:

The master said so
  Content.Client/_Wega/Mining/MiningConsoleWindow.xaml
  Content.Server/_Wega/Mining/MiningServerSystem.cs
Labels: :shark: C# :shark:, :computer: UI :computer:

сюда вообще кто то заходит?
  Content.Shared/Roles/JobPrototype.cs
Labels: :shark: C# :shark:

бебебе
  Content.Shared/Roles/JobPrototype.cs
Labels: :shark: C# :shark:

Update JobPrototype.cs
  Content.Shared/Roles/JobPrototype.cs
Labels: :shark: C# :shark:

Update JobPrototype.cs
  Content.Shared/Roles/JobPrototype.cs
Labels: :shark: C# :shark:

эмммэ
  Resources/Prototypes/_Wega/Roles/Jobs/Specific/prisoner.yml
Labels: none

krytivaucheri
  Content.Client/_Wega/Voucher/VoucherBoundUserInterface.cs
  Content.Client/_Wega/Voucher/VoucherKitWindow.xaml
  Content.Client/_Wega/Voucher/VoucherKitWindow.xaml.cs
  Content.Shared/_Wega/Voucher/VoucherBoundUserInterface.cs
  Content.Shared/_Wega/Voucher/VoucherComponents.cs
  Content.Shared/_Wega/Voucher/VoucherSystem.cs
  Resources/Locale/ru-RU/_wega/voucher/voucher.ftl
  Resources/Locale/ru-RU/_wega/voucher/voucherkits.ftl
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:, :computer: UI :computer:

синдиплеер
  Resources/Locale/ru-RU/_wega/prototypes/instruments/syndieplayer.ftl
  Resources/Locale/ru-RU/_wega/store/uplink-catalog.ftl
  Resources/Prototypes/_Wega/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Wega/Entities/Objects/Fun/Instruments/player.yml
  Resources/Textures/_Wega/Objects/Fun/Instruments/syndieplayer.rsi/icon.png
  Resources/Textures/_Wega/Objects/Fun/Instruments/syndieplayer.rsi/meta.json
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

borgs_module 1
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robotics.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/bowl.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/plate.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/skewer.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Wega/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_Wega/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_Wega/tags.yml
  Resources/Prototypes/borg_types.yml
  Resources/Textures/_Wega/Interface/Actions/actions_borg.rsi/bar-module.png
  Resources/Textures/_Wega/Interface/Actions/actions_borg.rsi/build-common-module.png
  Resources/Textures/_Wega/Interface/Actions/actions_borg.rsi/cook-module.png
  Resources/Textures/_Wega/Interface/Actions/actions_borg.rsi/figth-common-module.png
  Resources/Textures/_Wega/Interface/Actions/actions_borg.rsi/medical-common-module.png
  Resources/Textures/_Wega/Interface/Actions/actions_borg.rsi/meta.json
  Resources/Textures/_Wega/Interface/Actions/actions_borg.rsi/pen-common-module.png
  Resources/Textures/_Wega/Interface/Actions/actions_borg.rsi/pickaxe-common-module.png
  Resources/Textures/_Wega/Objects/Specific/Robotics/borgmodule.rsi/generic.png
  Resources/Textures/_Wega/Objects/Specific/Robotics/borgmodule.rsi/icon-bar-module.png
  Resources/Textures/_Wega/Objects/Specific/Robotics/borgmodule.rsi/icon-cook-module.png
  Resources/Textures/_Wega/Objects/Specific/Robotics/borgmodule.rsi/icon-fight-common.png
  Resources/Textures/_Wega/Objects/Specific/Robotics/borgmodule.rsi/icon-treatment-common.png
  Resources/Textures/_Wega/Objects/Specific/Robotics/borgmodule.rsi/meta.json
  Resources/Textures/_Wega/Objects/Specific/Robotics/borgmodule.rsi/service.png
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

fix_1
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: :page_facing_up: Локализация :page_facing_up:

привет
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/Prototypes/_Wega/Roles/Jobs/Specific/prisoner.yml
Labels: :shark: C# :shark:

так так
  Content.Server/Station/Systems/StationSpawningSystem.cs
Labels: :shark: C# :shark:

как это эмм
  Content.Server/Station/Systems/StationSpawningSystem.cs
Labels: :shark: C# :shark:

Update StationSpawningSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
Labels: :shark: C# :shark:

Update StationSpawningSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
Labels: :shark: C# :shark:

Update StationSpawningSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
Labels: :shark: C# :shark:

Update StationSpawningSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
Labels: :shark: C# :shark:

fix_2
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_Wega/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: none

fix_3
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: none

.github/labeler.yml:

":musical_note: Audio :musical_note:":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

":shark: C# :shark:":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

":gear: Конфиги :gear:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.toml"
      - "**/*.config"
      - "*.json"
      - ".github/*.yml"
      - ".github/*.json"
      - ".vscode/*.json"
      - ".editorconfig"

":book: Документация :book:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

":page_facing_up: Локализация :page_facing_up:":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

":world_map: Карты :world_map:":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

":art: Спрайты :art:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

":computer: UI :computer:":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

":baby_chick: YML :baby_chick:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

":wrench: GitHub Workflow :wrench:":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

":crystal_ball: Шейдеры :crystal_ball:":
  - changed-files:
    - any-glob-to-any-file: '**/*.swsl'

":no_entry: Не C# :no_entry:":
  - changed-files:
    - all-globs-to-all-files: "!**/*.cs"
