Repository wega-team/ss14-wega, changes with the labels that .github/labeler.yml gives for each.
All labels: :musical_note: Audio :musical_note:, :shark: C# :shark:, :gear: Конфиги :gear:, :book: Документация :book:, :page_facing_up: Локализация :page_facing_up:, :world_map: Карты :world_map:, :art: Спрайты :art:, :computer: UI :computer:, :wrench: GitHub Workflow :wrench:, :crystal_ball: Шейдеры :crystal_ball:

.github/labeler.yml:

":musical_note: Audio :musical_note:":
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

":shark: C# :shark:":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

":gear: Конфиги :gear:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.toml"
      - "**/*.config"
      - "*.json"
      - ".github/*.yml"
      - ".github/*.json"
      - ".vscode/*.json"
      - ".editorconfig"

":book: Документация :book:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

":page_facing_up: Локализация :page_facing_up:":
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

":world_map: Карты :world_map:":
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

":art: Спрайты :art:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

":computer: UI :computer:":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

":baby_chick: YML :baby_chick:":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

":wrench: GitHub Workflow :wrench:":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"

":crystal_ball: Шейдеры :crystal_ball:":
  - changed-files:
    - any-glob-to-any-file: '**/*.swsl'

":no_entry: Не C# :no_entry:":
  - changed-files:
    - all-globs-to-all-files: "!**/*.cs"

rickroll
  Resources/Textures/_Wega/Clothing/Shoes/Heels/black_heels.rsi/NewCanvas2.png
  Resources/Textures/_Wega/Clothing/Shoes/Heels/blue_heels.rsi/NewCanvas2.png
  Resources/Textures/_Wega/Clothing/Shoes/Heels/gray_heels.rsi/NewCanvas2.png
  Resources/Textures/_Wega/Clothing/Shoes/Heels/green_heels.rsi/NewCanvas2.png
  Resources/Textures/_Wega/Clothing/Shoes/Heels/orange_heels.rsi/NewCanvas2.png
  Resources/Textures/_Wega/Clothing/Shoes/Heels/pink_heels.rsi/NewCanvas2.png
  Resources/Textures/_Wega/Clothing/Shoes/Heels/purple_heels.rsi/NewCanvas2.png
  Resources/Textures/_Wega/Clothing/Shoes/Heels/red_heels.rsi/NewCanvas2.png
  Resources/Textures/_Wega/Clothing/Shoes/Heels/turquoise_heels.rsi/NewCanvas2.png
  Resources/Textures/_Wega/Clothing/Shoes/Heels/yellow_heels.rsi/NewCanvas2.png
Labels: :art: Спрайты :art:

rickrollEND
  Resources/Textures/_Wega/Clothing/Shoes/Heels/black_heels.rsi/NewCanvas2.png
  Resources/Textures/_Wega/Clothing/Shoes/Heels/blue_heels.rsi/NewCanvas2.png
  Resources/Textures/_Wega/Clothing/Shoes/Heels/gray_heels.rsi/NewCanvas2.png
  Resources/Textures/_Wega/Clothing/Shoes/Heels/green_heels.rsi/NewCanvas2.png
  Resources/Textures/_Wega/Clothing/Shoes/Heels/orange_heels.rsi/NewCanvas2.png
  Resources/Textures/_Wega/Clothing/Shoes/Heels/pink_heels.rsi/NewCanvas2.png
  Resources/Textures/_Wega/Clothing/Shoes/Heels/purple_heels.rsi/NewCanvas2.png
  Resources/Textures/_Wega/Clothing/Shoes/Heels/red_heels.rsi/NewCanvas2.png
  Resources/Textures/_Wega/Clothing/Shoes/Heels/turquoise_heels.rsi/NewCanvas2.png
  Resources/Textures/_Wega/Clothing/Shoes/Heels/yellow_heels.rsi/NewCanvas2.png
Labels: :art: Спрайты :art:

all_in
  Resources/Locale/ru-RU/_wega/fun/plushies.ftl
  Resources/Prototypes/Entities/Objects/Fun/plushies.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Textures/_Wega/Objects/Fun/Plushies/plushie_tajar.rsi/equipped-HELMET.png
  Resources/Textures/_Wega/Objects/Fun/Plushies/plushie_tajar.rsi/icon.png
  Resources/Textures/_Wega/Objects/Fun/Plushies/plushie_tajar.rsi/inhand-left.png
  Resources/Textures/_Wega/Objects/Fun/Plushies/plushie_tajar.rsi/inhand-right.png
  Resources/Textures/_Wega/Objects/Fun/Plushies/plushie_tajar.rsi/meta.json
  Resources/Textures/_Wega/Objects/Fun/Plushies/plushie_vulpa.rsi/equipped-HELMET.png
  Resources/Textures/_Wega/Objects/Fun/Plushies/plushie_vulpa.rsi/icon.png
  Resources/Textures/_Wega/Objects/Fun/Plushies/plushie_vulpa.rsi/inhand-left.png
  Resources/Textures/_Wega/Objects/Fun/Plushies/plushie_vulpa.rsi/inhand-right.png
  Resources/Textures/_Wega/Objects/Fun/Plushies/plushie_vulpa.rsi/meta.json
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

surgey
  Resources/Locale/ru-RU/_wega/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/specific/medical/surgery.ftl
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Wega/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_Wega/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/_Wega/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_Wega/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Wega/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Wega/Recipes/Lathes/security.yml
  Resources/Prototypes/_Wega/Research/arsenal.yml
  Resources/Prototypes/_Wega/Research/biochemical.yml
  Resources/Textures/_Wega/Objects/Specific/Medical/Surgery/bonesaw.rsi/bonesaw.png
  Resources/Textures/_Wega/Objects/Specific/Medical/Surgery/bonesaw.rsi/meta.json
  Resources/Textures/_Wega/Objects/Specific/Medical/Surgery/hemrevein.rsi/hemrevein_h.png
  Resources/Textures/_Wega/Objects/Specific/Medical/Surgery/hemrevein.rsi/hemrevein_r.png
  Resources/Textures/_Wega/Objects/Specific/Medical/Surgery/hemrevein.rsi/hemrevein_v.png
  Resources/Textures/_Wega/Objects/Specific/Medical/Surgery/hemrevein.rsi/meta.json
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

fix
  Resources/Prototypes/_Wega/Entities/Objects/Specific/Medical/surgery.yml
Labels: none

buff
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/_Wega/Entities/Objects/Specific/Medical/surgery.yml
Labels: none

Ancestor1
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/catalog/fills/crates/science.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/misc/ancestor_cube.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/specific/rehydrateable.ftl
  Resources/Prototypes/_Wega/Catalog/Cargo/cargo_science.yml
  Resources/Prototypes/_Wega/Catalog/Fills/Crates/science.yml
  Resources/Prototypes/_Wega/Entities/Objects/Misc/ancestor_cube.yml
  Resources/Prototypes/_Wega/Entities/Objects/Specific/rehydrateable.yml
  Resources/Textures/_Wega/Objects/Misc/ancestorcube.rsi/box_ancestor.png
  Resources/Textures/_Wega/Objects/Misc/ancestorcube.rsi/meta.json
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

tags
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/Research/civilianservices.yml
Labels: none

Shrimp!!
  Resources/Locale/ru-RU/_wega/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/catalog/fills/crates/food.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/consumable/food/containers/box.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/consumable/food/food.ftl
  Resources/Prototypes/_Wega/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/_Wega/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/_Wega/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/_Wega/Entities/Objects/Consumable/Food/shrimp.yml
  Resources/Prototypes/_Wega/Flavors/flavors.yml
  Resources/Prototypes/_Wega/Reagents/Consumable/Food/food.yml
  Resources/Prototypes/_Wega/tags.yml
  Resources/Textures/_Wega/Objects/Consumable/Food/Baked/shrimpbox.yml/box-open-full.png
  Resources/Textures/_Wega/Objects/Consumable/Food/Baked/shrimpbox.yml/box-open.png
  Resources/Textures/_Wega/Objects/Consumable/Food/Baked/shrimpbox.yml/box.png
  Resources/Textures/_Wega/Objects/Consumable/Food/Baked/shrimpbox.yml/meta.json
  Resources/Textures/_Wega/Objects/Consumable/Food/shrimp.rsi/meta.json
  Resources/Textures/_Wega/Objects/Consumable/Food/shrimp.rsi/shrimp.png
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

Куртка СБ
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coat/sec.rsi/equipped-OUTERCLOTHING-resomi.png
Labels: :art: Спрайты :art:

json
  Resources/Textures/Clothing/OuterClothing/Armor/card_armour.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/centcomm_carapace.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/scrap_armor.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertchaplain.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/goliath.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Vests/elitevest.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coat/sec.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/Armor/centcom_naval_carapace.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/atmos_overalls.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/captain.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/disco.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/hop.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/hos_greatcoat.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/kim.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/labcoat_security_medic.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/noirdet.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/sec_leather.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/warden_alt.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/Vests/armor_sec.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/Vests/armor_sec_med.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/Vests/vest_security_medic.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/WinterCoats/coatpilot.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/hardsuits/cburncommander.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/hardsuits/security-pilot.rsi/meta.json
  Resources/Textures/_Wega/Clothing/OuterClothing/Armor/blueshield.rsi/meta.json
  Resources/Textures/_Wega/Clothing/OuterClothing/Armor/templar.rsi/meta.json
  Resources/Textures/_Wega/Clothing/OuterClothing/Coats/flagellantrobe.rsi/meta.json
  Resources/Textures/_Wega/Clothing/OuterClothing/Coats/hunter.rsi/meta.json
  Resources/Textures/_Wega/Clothing/OuterClothing/Coats/lavachap.rsi/meta.json
  Resources/Textures/_Wega/Clothing/OuterClothing/Coats/postman.rsi/meta.json
  Resources/Textures/_Wega/Clothing/OuterClothing/Hardsuits/advancedvoidhardsuit.rsi/meta.json
  Resources/Textures/_Wega/Clothing/OuterClothing/Hardsuits/blueshield.rsi/meta.json
  Resources/Textures/_Wega/Clothing/OuterClothing/Hardsuits/voidhardsuit.rsi/meta.json
  Resources/Textures/_Wega/Clothing/OuterClothing/WinterCoats/blueshield.rsi/meta.json
  Resources/Textures/_Wega/Mobs/Species/Resomi/displacement.rsi/meta.json
Labels: :art: Спрайты :art:

Броник ОСЩ посурьёзнее
  Resources/Textures/_Wega/Clothing/OuterClothing/Armor/blueshield.rsi/equipped-OUTERCLOTHING-resomi.png
Labels: :art: Спрайты :art:

NewSB+Uplink
  Content.Client/Weapons/Ranged/Systems/GunSystem.MagazineVisuals.cs
  Content.Server/Turrets/DeployableTurretSystem.cs
  Content.Shared/Weapons/Ranged/Components/BatteryWeaponHitcanModesComponent.cs
  Content.Shared/Weapons/Ranged/Systems/BatteryWeaponHitcanModesSystem.cs
  Resources/Locale/ru-RU/_wega/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Wega/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Wega/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Wega/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Wega/Recipes/Lathes/security.yml
  Resources/Prototypes/_Wega/Research/arsenal.yml
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/base.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/disabler-inhand-left.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/disabler-inhand-right.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/equipped-BELT.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/icon.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-disabler-unshaded-0.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-disabler-unshaded-1.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-disabler-unshaded-2.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-disabler-unshaded-3.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-disabler-unshaded-4.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-lethal-unshaded-0.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-lethal-unshaded-1.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-lethal-unshaded-2.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-lethal-unshaded-3.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-lethal-unshaded-4.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/meta.json
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mode-disabler.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mode-lethal.png
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

fix-uplink
  Resources/Prototypes/_Wega/Catalog/uplink_catalog.yml
Labels: none

Тэги и куртка
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Textures/_Wega/Clothing/OuterClothing/Coats/cultrobesalt.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Wega/Clothing/OuterClothing/Coats/cultrobesalt.rsi/meta.json
Labels: :art: Спрайты :art:

fix-proto
  Content.Shared/Weapons/Ranged/Components/BatteryWeaponHitcanModesComponent.cs
Labels: :shark: C# :shark:

change
  Content.Client/_Wega/Lavaland/UtilityVendorBoundUserInterface.cs
  Content.Client/_Wega/Lavaland/UtilityVendorMenu.xaml
  Content.Client/_Wega/Lavaland/UtilityVendorMenu.xaml.cs
  Content.Server/_Wega/Lavaland/Components/StationLavalandComponent.cs
  Content.Server/_Wega/Lavaland/Components/StationLavalandShuttleComponent.cs
  Content.Server/_Wega/Lavaland/Systems/HandCapsuleSystem.cs
  Content.Server/_Wega/Lavaland/Systems/LavalandShuttleSystem.Console.cs
  Content.Shared/_Wega/Lavaland/Components/HandCapsuleComponent.cs
  Content.Shared/_Wega/Lavaland/Components/PointsCardComponent.cs
  Content.Shared/_Wega/Lavaland/Components/UtilityVendorComponent.cs
  Content.Shared/_Wega/Lavaland/Systems/UtilityVendorSystem.cs
  Content.Shared/_Wega/Lavaland/UtilityVendorBoundUserInterface.cs
  Resources/Locale/ru-RU/_wega/lavaland/lavaland.ftl
  Resources/Maps/_Wega/Lavaland/capsule.yml
  Resources/Maps/_Wega/Nonstations/cyberiadavanpost.yml
  Resources/Maps/_Wega/Shuttles/cyberiad_lavashuttle.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_Wega/Entities/Objects/Misc/capsule.yml
  Resources/Textures/_Wega/Objects/Misc/capsule.rsi/capsule.png
  Resources/Textures/_Wega/Objects/Misc/capsule.rsi/gold_capsule.png
  Resources/Textures/_Wega/Objects/Misc/capsule.rsi/meta.json
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:, :world_map: Карты :world_map:, :art: Спрайты :art:, :computer: UI :computer:

rechange-tazer
  Resources/Prototypes/_Wega/Recipes/Lathes/security.yml
Labels: none

CBImprovement
  Resources/Prototypes/_Wega/Entities/Objects/Specific/Specific/construction-bag.yml
Labels: none

new_textur+translate
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Prototypes/_Wega/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/base.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/disabler-inhand-left.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/disabler-inhand-right.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/icon.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/lethal-inhand-left.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/lethal-inhand-right.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-disabler-unshaded-0.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-disabler-unshaded-1.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-disabler-unshaded-2.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-disabler-unshaded-3.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-disabler-unshaded-4.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-lethal-unshaded-0.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-lethal-unshaded-1.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-lethal-unshaded-2.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-lethal-unshaded-3.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mag-lethal-unshaded-4.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/meta.json
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mode-disabler.png
  Resources/Textures/_Wega/Objects/Weapons/Guns/Battery/dominator.rsi/mode-lethal.png
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

fix_toyloadout
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Wega/Loadouts/Miscellaneous/trinkets.yml
Labels: none

fix_loadouttoy
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Wega/Loadouts/Miscellaneous/trinkets.yml
Labels: none

fix_name
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_Wega/Loadouts/Miscellaneous/trinkets.yml
Labels: none

rebalance_mining
  Resources/Locale/ru-RU/_wega/objectives/traitor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/clothing/hands/braslets.ftl
  Resources/Prototypes/_Wega/Catalog/Cargo/cargo_science.yml
  Resources/Prototypes/_Wega/Entities/Clothing/Hands/braslets.yml
  Resources/Prototypes/_Wega/Recipes/Lathes/Packs/goldprinter.yml
  Resources/Prototypes/_Wega/Recipes/Lathes/goldprint.yml
  Resources/Prototypes/_Wega/Research/industrial.yml
  Resources/Textures/_Wega/Clothing/Hands/Gloves/gold_bracelets.rsi/equipped-HAND.png
  Resources/Textures/_Wega/Clothing/Hands/Gloves/gold_bracelets.rsi/gem.png
  Resources/Textures/_Wega/Clothing/Hands/Gloves/gold_bracelets.rsi/icon.png
  Resources/Textures/_Wega/Clothing/Hands/Gloves/gold_bracelets.rsi/meta.json
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

biomaterials
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Prototypes/_Wega/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: :page_facing_up: Локализация :page_facing_up:

second hand
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Prototypes/_Wega/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: :page_facing_up: Локализация :page_facing_up:

try fix photophobia lag
  Content.Server/_Wega/Shadow/PhotophobiaSystem.cs
  Content.Shared/_Wega/Shadow/PhotophobiaComponent.cs
Labels: :shark: C# :shark:

khem
  Content.Server/_Wega/Shadow/PhotophobiaSystem.cs
Labels: :shark: C# :shark:

rebalance_gun
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
Labels: none

locale change
  Resources/Locale/ru-RU/_wega/store/uplink-catalog.ftl
Labels: :page_facing_up: Локализация :page_facing_up:

слава ЛКМу
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: none

fix_tag
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
Labels: none

fix_tag2
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

по идее
  Resources/Locale/ru-RU/_wega/job/job-description.ftl
  Resources/Locale/ru-RU/_wega/job/job-names.ftl
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Loadouts/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/Roles/Jobs/Security/prisoner.yml
  Resources/Prototypes/Roles/play_time_trackers.yml
  Resources/Prototypes/_Wega/Loadouts/Jobs/Security/prisoner.yml
Labels: :page_facing_up: Локализация :page_facing_up:

comments
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: :shark: C# :shark:

fix
  Resources/Textures/_ADT/Clothing/Shoes/Boots/advanced.rsi/holoprojectors.yml
Labels: none

comment
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: none

changeshrimp
  Resources/Locale/ru-RU/_wega/reagents/meta/consumable/food/food.ftl
  Resources/Prototypes/_Wega/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/_Wega/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/_Wega/Reagents/Consumable/Food/food.yml
  Resources/Textures/_Wega/Objects/Consumable/Food/Baked/shrimpbox.rsi/box-open-full.png
  Resources/Textures/_Wega/Objects/Consumable/Food/Baked/shrimpbox.rsi/box-open.png
  Resources/Textures/_Wega/Objects/Consumable/Food/Baked/shrimpbox.rsi/box.png
  Resources/Textures/_Wega/Objects/Consumable/Food/Baked/shrimpbox.rsi/meta.json
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

revert interactionpanel
  Content.Client/Input/ContentContexts.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/MenuBar/GameTopMenuBarUIController.cs
  Content.Client/UserInterface/Systems/MenuBar/Widgets/GameTopMenuBar.xaml
  Content.Client/_Wega/InteractionPanel/Ui/InteractionConstructorMenu.xaml
  Content.Client/_Wega/InteractionPanel/Ui/InteractionConstructorMenu.xaml.cs
  Content.Client/_Wega/InteractionPanel/Ui/InteractionConstructorUIController.cs
  Content.Client/_Wega/InteractionPanel/Ui/InteractionEditorMenu.xaml
  Content.Client/_Wega/InteractionPanel/Ui/InteractionEditorMenu.xaml.cs
  Content.Client/_Wega/InteractionPanel/Ui/InteractionEditorUIController.cs
  Content.Client/_Wega/InteractionPanel/Ui/InteractionMenuUIController.cs
  Content.Client/_Wega/InteractionPanel/Ui/InteractionPanelMenu.xaml
  Content.Client/_Wega/InteractionPanel/Ui/InteractionPanelMenu.xaml.cs
  Content.Server/_Wega/InteractionPanel/InteractionPanelSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/_Wega/Events/InteractionPressedEvent.cs
  Content.Shared/_Wega/InteractionPanel/InteractionComponent.cs
  Content.Shared/_Wega/InteractionPanel/InteractionPanelManager.cs
  Resources/Locale/ru-RU/HUD/game-hud.ftl
  Resources/Locale/ru-RU/_wega/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/_wega/interactionbuttonmassage.ftl
  Resources/Locale/ru-RU/_wega/interactionpanel/interactionconsturctorpanel.ftl
  Resources/Locale/ru-RU/_wega/interactionpanel/interactioneditorpanel.ftl
  Resources/Locale/ru-RU/_wega/interactionpanel/interactionpanel.ftl
  Resources/Prototypes/_Wega/interactions.yml
  Resources/Textures/_Wega/Interface/InteractionPanel/female.png
  Resources/Textures/_Wega/Interface/InteractionPanel/heart.png
  Resources/Textures/_Wega/Interface/InteractionPanel/male.png
  Resources/Textures/_Wega/Interface/InteractionPanel/manyhearts.png
  Resources/Textures/_Wega/Interface/InteractionPanel/unknown.png
  Resources/Textures/_Wega/Interface/InteractionPanel/unsexed.png
  Resources/Textures/_Wega/Interface/emotes.svg
  Resources/Textures/_Wega/Interface/interaction.svg.192dpi.png
  Resources/Textures/_Wega/Interface/interaction.svg.192dpi.png.yml
  Resources/keybinds.yml
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:, :computer: UI :computer:

rebalance+change-implant
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_Wega/Catalog/uplink_catalog.yml
Labels: none
