Repository wega-team/ss14-wega, pull requests merged in 2025-08, with the labels that each got.

#120 Фикс чеков
  .github/workflows/labeler-pr.yml
  .github/workflows/labeler-review.yml
  .github/workflows/labeler-size.yml
  .github/workflows/labeler-untriaged.yml
  .github/workflows/test-packaging.yml
  .github/workflows/yaml-linter.yml
  Resources/Textures/Clothing/OuterClothing/Hardsuits/maxim.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Wega/Clothing/Back/Backpacks/bloodcultbackpack.rsi/meta.json
  Resources/Textures/_Wega/Interface/Actions/actions_vampire.rsi/meta.json
  Resources/Textures/_Wega/LobbyScreens/attributions.yml
  Resources/Textures/_Wega/Mobs/Aliens/slimes.rsi/meta.json
  Resources/Textures/_Wega/Mobs/Customization/human_hair.rsi/Vulpkanin.rar
  Resources/Textures/_Wega/Mobs/Customization/human_hair.rsi/image_secondary.png
  Resources/Textures/_Wega/Objects/Consumable/Drinks/horseneckglass.rsi/meta.json
Labels: :art: Спрайты :art:, :no_entry: Не C# :no_entry:, size/S, :wrench: GitHub Workflow :wrench:, :baby_chick: YML :baby_chick:

#121 add markings for face
  Resources/Locale/ru-RU/_ADT/prototypes/Enteties/Mobs/Customization/Markings/Human.ftl
  Resources/Prototypes/_ADT/Enteties/Mobs/Customization/Markings/cyberlimbs.yml
  Resources/Textures/_ADT/Mobs/Customization/augments/headaugs.rsi/beholder.png
  Resources/Textures/_ADT/Mobs/Customization/augments/headaugs.rsi/iron_jaw.png
  Resources/Textures/_ADT/Mobs/Customization/augments/headaugs.rsi/malstrem.png
  Resources/Textures/_ADT/Mobs/Customization/augments/headaugs.rsi/meta.json
  Resources/Textures/_ADT/Mobs/Customization/augments/headaugs.rsi/terminator.png
Labels: :art: Спрайты :art:, :page_facing_up: Локализация :page_facing_up:, :no_entry: Не C# :no_entry:, size/S, :baby_chick: YML :baby_chick:

#123 Resprite sofa
  Resources/Textures/_Wega/Structures/Furniture/Benches/sofa.rsi/arm_left.png
  Resources/Textures/_Wega/Structures/Furniture/Benches/sofa.rsi/arm_right.png
  Resources/Textures/_Wega/Structures/Furniture/Benches/sofa.rsi/corner.png
  Resources/Textures/_Wega/Structures/Furniture/Benches/sofa.rsi/left.png
  Resources/Textures/_Wega/Structures/Furniture/Benches/sofa.rsi/meta.json
  Resources/Textures/_Wega/Structures/Furniture/Benches/sofa.rsi/middle.png
  Resources/Textures/_Wega/Structures/Furniture/Benches/sofa.rsi/right.png
  Resources/Textures/_Wega/Structures/Furniture/Benches/sofa_corp.rsi/arm_left.png
  Resources/Textures/_Wega/Structures/Furniture/Benches/sofa_corp.rsi/arm_right.png
  Resources/Textures/_Wega/Structures/Furniture/Benches/sofa_corp.rsi/corner.png
  Resources/Textures/_Wega/Structures/Furniture/Benches/sofa_corp.rsi/left.png
  Resources/Textures/_Wega/Structures/Furniture/Benches/sofa_corp.rsi/meta.json
  Resources/Textures/_Wega/Structures/Furniture/Benches/sofa_corp.rsi/middle.png
  Resources/Textures/_Wega/Structures/Furniture/Benches/sofa_corp.rsi/right.png
Labels: :art: Спрайты :art:, :no_entry: Не C# :no_entry:, :baby_chick: YML :baby_chick:

#125 Resomi Great Again
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: :shark: C# :shark:, :baby_chick: YML :baby_chick:, S: Needs Review, size/XS

#130 Некоторые багфиксы
  Content.Client/Forensics/ForensicScannerBoundUserInterface.cs
  Content.Server/_Wega/Carrying/CarryingSystem.cs
  Content.Server/_Wega/Strangulation/StrangulationSystem.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/structures/storage/canisters/gas_canisters.ftl
  Resources/Prototypes/Corvax/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/_Wega/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Wega/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/_Wega/interactions.yml
  Resources/Textures/Structures/Storage/canister.rsi/meta.json
  Resources/Textures/Structures/Storage/canister.rsi/redb-1.png
  Resources/Textures/Structures/Storage/canister.rsi/redb.png
Labels: :art: Спрайты :art:, :page_facing_up: Локализация :page_facing_up:, :shark: C# :shark:, :baby_chick: YML :baby_chick:, size/M

#144 Лодауты для ментор ролей / белье для командования / синтезатор + фиксы
  Resources/Locale/ru-RU/corvax/preferences/loadout-groups.ftl
  Resources/Prototypes/Corvax/Loadouts/loadout_groups.yml
  Resources/Prototypes/Corvax/Loadouts/role_loadouts.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Wega/Loadouts/Jobs/Civilian/musician.yml
  Resources/Prototypes/_Wega/Loadouts/Jobs/JobSenior/senior_item.yml
  Resources/Prototypes/_Wega/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_Wega/Loadouts/loadout_groups.yml
Labels: :page_facing_up: Локализация :page_facing_up:, :no_entry: Не C# :no_entry:, :baby_chick: YML :baby_chick:, S: Needs Review, size/M

#147 Майнинг сервера
  Content.Client/_Wega/Mining/MiningConsoleBoundInterfaceState.cs
  Content.Client/_Wega/Mining/MiningConsoleWindow.xaml
  Content.Client/_Wega/Mining/MiningConsoleWindow.xaml.cs
  Content.Client/_Wega/Mining/MiningServerControl.xaml
  Content.Client/_Wega/Mining/MiningServerControl.xaml.cs
  Content.Client/_Wega/Mining/MiningServerVisualizerSystem.cs
  Content.Server/_Wega/Mining/MiningConsoleSystem.cs
  Content.Server/_Wega/Mining/MiningServerSystem.cs
  Content.Shared/_Wega/Mining/Components/MiningAccountComponent.cs
  Content.Shared/_Wega/Mining/Components/MiningConsoleComponent.cs
  Content.Shared/_Wega/Mining/Components/MiningServerComponent.cs
  Content.Shared/_Wega/Mining/Components/MiningServerVisualsComponent.cs
  Content.Shared/_Wega/Mining/MiningConsoleUi.cs
  Resources/Locale/ru-RU/_wega/mining/mining.ftl
  Resources/Locale/ru-RU/_wega/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/structures/machines/mining_machine.ftl
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/_Wega/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_Wega/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/_Wega/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_Wega/Entities/Structures/Machines/miningserver.yml
  Resources/Prototypes/_Wega/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_Wega/Research/industrial.yml
  Resources/Textures/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/Structures/Machines/computers.rsi/mining_screen.png
  Resources/Textures/_Wega/Structures/Machines/miningserver.rsi/base.png
  Resources/Textures/_Wega/Structures/Machines/miningserver.rsi/meta.json
  Resources/Textures/_Wega/Structures/Machines/miningserver.rsi/mode1.png
  Resources/Textures/_Wega/Structures/Machines/miningserver.rsi/mode2.png
  Resources/Textures/_Wega/Structures/Machines/miningserver.rsi/mode3.png
Labels: :art: Спрайты :art:, :computer: UI :computer:, :page_facing_up: Локализация :page_facing_up:, :shark: C# :shark:, :baby_chick: YML :baby_chick:, size/L

#155 Передача предметов
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/_Wega/Offer/OfferItemIndicatorsOverlay.cs
  Content.Client/_Wega/Offer/OfferItemSystem.cs
  Content.Server/_Wega/Offer/OfferItemSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/_Wega/Offer/Components/OfferGiverComponent.cs
  Content.Shared/_Wega/Offer/Components/OfferReceiverComponent.cs
  Content.Shared/_Wega/Offer/SharedOfferItemSystem.cs
  Resources/Locale/ru-RU/_wega/alerts/alerts.ftl
  Resources/Locale/ru-RU/_wega/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/_wega/offer/offer.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_Wega/Alerts/alerts.yml
  Resources/Textures/_Wega/Interface/Alerts/offer.rsi/meta.json
  Resources/Textures/_Wega/Interface/Alerts/offer.rsi/offer.png
  Resources/Textures/_Wega/Interface/Misc/give_item.rsi/give_item.png
  Resources/Textures/_Wega/Interface/Misc/give_item.rsi/meta.json
  Resources/keybinds.yml
Labels: :art: Спрайты :art:, :computer: UI :computer:, :page_facing_up: Локализация :page_facing_up:, :shark: C# :shark:, :baby_chick: YML :baby_chick:, size/M

#156 Бафф Зомби
  Content.Shared/Zombies/ZombieComponent.cs
  Resources/Prototypes/Damage/modifier_sets.yml
Labels: size/S, :shark: C# :shark:, :baby_chick: YML :baby_chick:, S: Needs Review

#157 Изоляция звука
  Content.Client/Corvax/TTS/TTSSystem.cs
  Content.Client/_Wega/Barks/BarkSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/_Wega/CCCVars/CCVars.cs
  Content.Shared/_Wega/SoundInsulation/SoundInsulationSystem.cs
  Content.Shared/_Wega/SoundInsulation/SoundInsulatorComponent.cs
  Resources/ConfigPresets/Wega/wega.toml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/secret_door.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: :shark: C# :shark:, :gear: Конфиги :gear:, :baby_chick: YML :baby_chick:, size/M
