Repository wega-team/ss14-wega, pull requests merged in 2025-10, with the labels that each got.

#195 Т2 хирургические инструменты + импланты в техфабах
  Resources/Locale/ru-RU/_wega/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/objects/specific/medical/surgery.ftl
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Wega/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_Wega/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/_Wega/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_Wega/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Wega/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Wega/Recipes/Lathes/security.yml
  Resources/Prototypes/_Wega/Research/arsenal.yml
  Resources/Prototypes/_Wega/Research/biochemical.yml
  Resources/Textures/_Wega/Objects/Specific/Medical/Surgery/bonesaw.rsi/bonesaw.png
  Resources/Textures/_Wega/Objects/Specific/Medical/Surgery/bonesaw.rsi/meta.json
  Resources/Textures/_Wega/Objects/Specific/Medical/Surgery/hemrevein.rsi/hemrevein_h.png
  Resources/Textures/_Wega/Objects/Specific/Medical/Surgery/hemrevein.rsi/hemrevein_r.png
  Resources/Textures/_Wega/Objects/Specific/Medical/Surgery/hemrevein.rsi/hemrevein_v.png
  Resources/Textures/_Wega/Objects/Specific/Medical/Surgery/hemrevein.rsi/meta.json
Labels: :art: Спрайты :art:, :page_facing_up: Локализация :page_facing_up:, :no_entry: Не C# :no_entry:, :baby_chick: YML :baby_chick:, size/M

#183 возвращаем НОРМАЛЬНЫЕ механические леки(и не ток)
  Resources/Prototypes/Reagents/medicine.yml
Labels: :no_entry: Не C# :no_entry:, S: Awaiting Changes, size/S, :baby_chick: YML :baby_chick:

#201 Construction bag improvement
  Resources/Prototypes/_Wega/Entities/Objects/Specific/Specific/construction-bag.yml
Labels: :no_entry: Не C# :no_entry:, :baby_chick: YML :baby_chick:

#204 Игрушки блохастых каждому в карман
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Wega/Loadouts/Miscellaneous/trinkets.yml
Labels: :no_entry: Не C# :no_entry:, :baby_chick: YML :baby_chick:

#205 Ребаланс доступности майнинг сервера + новые браслеты
  Resources/Locale/ru-RU/_wega/objectives/traitor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wega/entities/clothing/hands/braslets.ftl
  Resources/Prototypes/_Wega/Catalog/Cargo/cargo_science.yml
  Resources/Prototypes/_Wega/Entities/Clothing/Hands/braslets.yml
  Resources/Prototypes/_Wega/Recipes/Lathes/Packs/goldprinter.yml
  Resources/Prototypes/_Wega/Recipes/Lathes/goldprint.yml
  Resources/Prototypes/_Wega/Research/industrial.yml
  Resources/Textures/_Wega/Clothing/Hands/Gloves/gold_bracelets.rsi/equipped-HAND.png
  Resources/Textures/_Wega/Clothing/Hands/Gloves/gold_bracelets.rsi/gem.png
  Resources/Textures/_Wega/Clothing/Hands/Gloves/gold_bracelets.rsi/icon.png
  Resources/Textures/_Wega/Clothing/Hands/Gloves/gold_bracelets.rsi/meta.json
Labels: :art: Спрайты :art:, :page_facing_up: Локализация :page_facing_up:, :no_entry: Не C# :no_entry:, :baby_chick: YML :baby_chick:
