Repository wega-team/ss14-wega, pull requests merged in 2025-09, with the labels that each got.

#164 Мелкие правки хирургии
  Content.Server/_Wega/Surgery/SurgerySystem.InternalDamage.cs
  Content.Server/_Wega/Surgery/SurgerySystem.Operation.cs
  Content.Server/_Wega/Surgery/SurgerySystem.Sterility.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/_Wega/Dirt/SharedDirtSystem.cs
  Resources/Locale/ru-RU/_wega/surgery/surgery.ftl
  Resources/Prototypes/Body/Parts/animal.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Wega/Surgery/Operations/Graphs/primate.yml
  Resources/Prototypes/_Wega/Surgery/Operations/Nodes/primate.yml
  Resources/Prototypes/_Wega/Surgery/Operations/Transitions/primate.yml
  Resources/Prototypes/_Wega/tags.yml
Labels: :page_facing_up: Локализация :page_facing_up:, :shark: C# :shark:, :baby_chick: YML :baby_chick:

#166 Фикс теневой аномалии
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
Labels: :no_entry: Не C# :no_entry:, size/S, :shark: C# :shark:, :baby_chick: YML :baby_chick:, S: Needs Review

#167 Консоль ID-карт Up
  Content.Client/Access/UI/IdCardConsoleWindow.xaml
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
  Content.Shared/Access/AccessGroupPrototype.cs
  Resources/Locale/ru-RU/_wega/prototypes/access/groups.ftl
  Resources/Locale/ru-RU/access/components/id-card-console-component.ftl
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/_Wega/Access/misc.yml
Labels: :computer: UI :computer:, :page_facing_up: Локализация :page_facing_up:, :shark: C# :shark:, :baby_chick: YML :baby_chick:, size/M

#170 Декали
  Resources/Prototypes/_Wega/Decals/minitile.yml
  Resources/Textures/_Wega/Decals/minitile.rsi/dark_line_e.png
  Resources/Textures/_Wega/Decals/minitile.rsi/dark_line_w.png
  Resources/Textures/_Wega/Decals/minitile.rsi/grey_line_e.png
  Resources/Textures/_Wega/Decals/minitile.rsi/grey_line_w.png
  Resources/Textures/_Wega/Decals/minitile.rsi/meta.json
  Resources/Textures/_Wega/Decals/minitile.rsi/quartertile_dark.png
  Resources/Textures/_Wega/Decals/minitile.rsi/quartertile_dark_180.png
  Resources/Textures/_Wega/Decals/minitile.rsi/quartertile_dark_270.png
  Resources/Textures/_Wega/Decals/minitile.rsi/quartertile_dark_90.png
  Resources/Textures/_Wega/Decals/minitile.rsi/quartertile_grey.png
  Resources/Textures/_Wega/Decals/minitile.rsi/quartertile_grey_180.png
  Resources/Textures/_Wega/Decals/minitile.rsi/quartertile_grey_270.png
  Resources/Textures/_Wega/Decals/minitile.rsi/quartertile_grey_90.png
  Resources/Textures/_Wega/Decals/minitile.rsi/quartertile_white.png
  Resources/Textures/_Wega/Decals/minitile.rsi/quartertile_white_180.png
  Resources/Textures/_Wega/Decals/minitile.rsi/quartertile_white_270.png
  Resources/Textures/_Wega/Decals/minitile.rsi/quartertile_white_90.png
  Resources/Textures/_Wega/Decals/minitile.rsi/white_line_e.png
  Resources/Textures/_Wega/Decals/minitile.rsi/white_line_w.png
Labels: :art: Спрайты :art:, :no_entry: Не C# :no_entry:, :baby_chick: YML :baby_chick:, size/M

#179 Группки WhatsApp edition
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatCreateGroupPopup.xaml
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatCreateGroupPopup.xaml.cs
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatGroupControl.cs
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatGroupControl.xaml
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatJoinGroupPopup.xaml
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatJoinGroupPopup.xaml.cs
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatUi.cs
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml
  Content.Client/_Wega/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml.cs
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Server/_Wega/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Shared/_Wega/CartridgeLoader/Cartridges/NanoChatCartridgeComponent.cs
  Content.Shared/_Wega/CartridgeLoader/Cartridges/NanoChatUiMessageEvent.cs
  Content.Shared/_Wega/CartridgeLoader/Cartridges/NanoChatUiState.cs
  Resources/Locale/ru-RU/_wega/forensics/forensics.ftl
  Resources/Locale/ru-RU/_wega/nanochat/nanochatui.ftl
Labels: :computer: UI :computer:, :page_facing_up: Локализация :page_facing_up:, :shark: C# :shark:, :baby_chick: YML :baby_chick:, size/M

#184 суккубы
  Resources/Locale/ru-RU/_ADT/prototypes/Enteties/Mobs/Customization/Markings/demon.ftl
  Resources/Prototypes/_ADT/Enteties/Mobs/Customization/Markings/tale.yml
  Resources/Textures/_ADT/Mobs/Customization/demons/succubus.rsi/meta.json
  Resources/Textures/_ADT/Mobs/Customization/demons/succubus.rsi/succubus.png
Labels: :art: Спрайты :art:, :page_facing_up: Локализация :page_facing_up:, :no_entry: Не C# :no_entry:, :baby_chick: YML :baby_chick:

#190 Рассширение лодаутов
  Resources/Locale/ru-RU/_ADT/prototypes/Enteties/Clothing/Uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/_ADT/prototypes/Enteties/Clothing/Uniforms/jumpsuits.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cargodrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/Corvax/Loadouts/Jobs/Security/pilot.yml
  Resources/Prototypes/Corvax/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/chef.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/clown.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/mime.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/musician.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/passenger.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chemist.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/Loadouts/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Wega/Loadouts/Jobs/Cargo/postman.yml
  Resources/Prototypes/_Wega/Loadouts/Jobs/Civilian/barber.yml
  Resources/Prototypes/_Wega/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Prototypes/_Wega/Loadouts/Jobs/Medical/geneticist.yml
  Resources/Prototypes/_Wega/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/_Wega/Loadouts/Jobs/Medical/surgeon.yml
  Resources/Prototypes/_Wega/Loadouts/Jobs/Personal/Jumpsuit.yml
  Resources/Prototypes/_Wega/Loadouts/Jobs/Security/brigmedic.yml
  Resources/Prototypes/_Wega/Loadouts/loadout_groups.yml
Labels: :page_facing_up: Локализация :page_facing_up:, :no_entry: Не C# :no_entry:, :baby_chick: YML :baby_chick:, size/M
